H1 {
  font-weight: 350;
  text-align: center;
  font-size: 35px;
  font-family: Georgia,serif;
  color : blue
}
H2 {
  text-align: center;
  color: var();
  color: rgb(3, 0, 251);
  font-size: 30px:
  font-family: monospace;
}
body {
   background-color: red
   text-align: center;
}
.output {
  display: none;
}

button {
  margin-top: 10px;
}
